<h1>Articles</h1>
My blog has <%= Article.public_count %> articles.
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>, <%= article.created_date %>
    </li>
  <% end %>
</ul>
