<h1>Hello, friend</h1>
<p>Welcome to my personal corner of the internet.</p>
<p>I am starting to write down some thoughts I have. This is where they will live online.</p>
<p>Its also a space for me to link to various other professional presences I have.</p>
<ul>
  <li><a href="https://www.linkedin.com/in/mackenzie-salloum/">LinkedIn</a></li>
  <li><a href="https://github.com/mackosx">GitHub</a></li>
</ul>
<p>I built this site with Ruby on Rails, as a way to learn Rails. How convenient that the basic project you start with is a Blog!</p>
