/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 * require app/assets/stylesheets/actiontext.css
 */

@font-face {
  font-family: "etbook";
  src: url("etbookot-roman-webfont.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "etbook";
  src: url("etbookot-bold-webfont.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "etbook";
  src: url("etbookot-italic-webfont.woff");
  font-weight: 400;
  font-style: italic;
}

/* Text */

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "etbook", "Times New Roman", Times, serif;
}

main {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

article header h1 {
  text-align: center;
}

article header h4 {
  text-align: center;
}

p {
  line-height: 1.4;
}

/* Links */

a {
  text-decoration: none;
}

a:any-link {
  color: inherit;
}

a:hover {
  text-decoration-color: rgb(130, 160, 156);
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

a:active {
  color: rgb(178, 220, 214);
}

form.inline {
  display: inline;
}

/* Form */

form input:not(input[type="checkbox"]),
form textarea {
  width: 100%;
}

form input:not(input[type="checkbox"]) {
  height: 2rem;
}

form label {
  font-variant: all-small-caps;
}

form textarea {
  padding: 0.5rem;
  border: 1px dashed rgb(165, 165, 165);
}

form input[type="submit"],
button {
  background-color: rgb(71, 82, 157);
  color: white;
  border: none;
  cursor: pointer;
}

form input[type="submit"]:hover,
button:hover {
  background-color: rgb(44, 52, 97);
}

/* Navigation */

nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

nav .current {
  box-sizing: content-box;
  text-decoration-color: rgb(130, 160, 156);
  text-decoration-thickness: 4px;
  text-decoration: underline;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav a {
  padding: 0.5rem;
}

div.auth form {
  display: inline;
  width: auto;
}

div.auth div {
  padding: 0 0.5rem 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
}

/* Flash messages */

.notice {
  padding: 0.5rem;
  background-color: rgb(196, 216, 221);
}

.alert {
  padding: 0.5rem;
  margin-top: 0;
  background-color: rgb(222, 180, 179);
}

/* Fixes for devise log in screen */
.field {
  margin-bottom: 1rem;
}
.field input[type="checkbox"] {
  width: auto;
}
.login-links {
  margin-top: 1.5rem;
  text-align: center;
}
