/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'etbook';
  src: url('etbookot-roman-webfont.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'etbook';
  src: url('etbookot-bold-webfont.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'etbook';
  src: url('etbookot-roman-webfont.woff');
  font-weight: 400;
  font-style: italic;
}

/* Text */

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family:"etbook", 'Times New Roman', Times, serif;
}

main {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

article header h1 {
  text-align: center;
}

article header h4 {
  text-align: center;
}

p {
  line-height: 1.4;
}

/* Form */

form input, form textarea {
  width: 100%;
}

form input {
  height: 2rem;
}

form label {
  font-variant: all-small-caps;
}

form textarea {
  padding: 0.5rem;
  border: 1px dashed rgb(165, 165, 165);
}

form input[type='submit'] {
  background-color: rgb(71, 82, 157);
  color: white;
  border: none;
  cursor: pointer;
}

/* Navigation */

nav {
  padding: 2rem;
}

nav .current {
  box-sizing: content-box;
  border: rgb(130, 160, 156) 3px solid;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;

}

nav a {
  padding: 0.5rem;
}

nav a:visited {
  color: inherit;
}
